body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
.box {
	width:90%;

	
}
.hr{
	border: none;
	height:1px;
	color:#333;
	background-color:#333;
	
}
.home-headline{
	font-family:'Times New Romen', Times, serif;
	font-size:24px;
	color:#fff;
	margin:auto;
	text-align:center;
	margin-top:0px;
	
}
.home-headline span{
	background-color:#333;
	padding:5px 22px;
}